streamlit>=1.36
pandas>=2.2
numpy>=1.26
scikit-learn>=1.4
matplotlib>=3.8
plotly>=5.22
wordcloud>=1.9
nltk>=3.8
pillow>=10.3
transformers==4.41.2
datasets>=2.19
accelerate>=0.30
safetensors>=0.4.3
sentencepiece>=0.2
mysql-connector-python>=8.0
kaggle==1.5.16
tokenizers==0.19.1
huggingface-hub>=0.23.5
torch==2.2.2
--extra-index-url https://download.pytorch.org/whl/cpu
torch
